<h2>Likelion#index</h2>

<h1>Hack Your Life 10번 찍어보기</h1>

<h2>순수 HTML로 작성하려면..</h2>
<p>0. Hack Your Life</p>
<p>1. Hack Your Life</p>
<p>2. Hack Your Life</p>
<p>3. Hack Your Life</p>
<p>4. Hack Your Life</p>
<p>5. Hack Your Life</p>
<p>6. Hack Your Life</p>
<p>7. Hack Your Life</p>
<p>8. Hack Your Life</p>
<p>9. Hack Your Life</p>

<h2>ERB 파일에서는 이렇게 할 수 있다.</h2>
<% 10.times do |x| %>
    <p><%= "#{x}. Hack Your Life" %></p>
<% end %>
